body{
    flex: auto;
}

.colocarTarjeta{
    text-align: right;
}

footer{
    background-color: greenyellow;
    height: 300px;
    margin-top: 35%;
}

.tarjeta{
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 300px;
    visibility: hidden;
    transition: all 0.3s ease;
}

footer:hover .tarjeta{
    right: 100px;
    visibility: visible;
    transition: all 0.7s ease;
}

.imagen{
    box-shadow: 0 4px 8px black;
    transform: rotate(-20deg);
    transition: all 0.7s ease;
}

.imagen:hover{
    transform: rotate(-20deg);
    transition: all 0.7s ease;
    animation: rotarImg 2s linear infinite;
}

@keyframes rotarImg {
    from {
        transform: rotate(-20deg) rotateY(0deg);
    }
    to {
        transform: rotate(-20deg) rotateY(180deg);
    }
}